RewriteEngine On

RewriteRule ^login.html$ login.php [L]
RewriteRule ^register.html$ register.php [L]
RewriteRule ^logout.html$ logout.php [L]
RewriteRule ^TrangChu.html$ index.php?page=TrangChu [L]
RewriteRule ^DangKyKhoaHoc.html$ index.php?page=DangKyKhoaHoc [L]
RewriteRule ^ChinhSuaKhoaHoc.html$ index.php?page=DangKyKhoaHoc&act=edit [QSA]
RewriteRule ^DanhSachKhoaHoc.html$ index.php?page=DanhSachKhoaHoc [L]
RewriteRule ^KhoaHocDangKy.html$ index.php?page=KhoaHocDangKy [L]
RewriteRule ^ThoiKhoaBieu.html$ index.php?page=ThoiKhoaBieu [L]
RewriteRule ^HoaDon.html$ index.php?page=HoaDon [L]
RewriteRule ^TrangCaNhan.html$ index.php?page=TrangCaNhan [QSA]
#RewriteRule ^invoices.html$ invoices.php [L]
#RewriteRule ^invoice.html$ invoice.php [QSA]
#RewriteRule ^users.html$ users.php [L]
#RewriteRule ^user.html$ user.php [QSA]
