RewriteEngine On

RewriteRule ^login.html$ login.php [L]
RewriteRule ^logout.html$ logout.php [L]
RewriteRule ^TrangChu.html$ index.php?page=TrangChu [L]
RewriteRule ^DanhSachKhoaHoc.html$ index.php?page=DanhSachKhoaHoc [QSA]
RewriteRule ^DanhSachHocSinh.html$ index.php?page=DanhSachHocSinh [QSA]
RewriteRule ^DanhSachGiaSu.html$ index.php?page=DanhSachGiaSu [QSA]
RewriteRule ^ChiTietNguoiDung.html$ index.php?page=ChiTietNguoiDung [QSA]
RewriteRule ^HoaDon.html$ index.php?page=HoaDon [QSA]